.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.submit-button {
  background-color: var(--peach-color) !important;
  border: none !important;
  width: 100%;
  margin: 10px 0px 0px 0px !important;
}
