.content-background {
  display: flex;
  justify-content: center;
  background-color: var(--onyx-color);
  height: 100vh;
  width: 100vw;
}

#main-content {
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--alabaster-color);
  width: 600px;
  height: 800px;
  margin: auto;
}
